@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

  h1{
      margin-top: 5%;
  }

  .LogoDescription1{
      margin-right: 10%;
      margin-top: -25%;
      margin-left: 50%;
  }

  .Logo1{
      width: 15%;
      padding-bottom: 10%;
      margin-left: 10%;
  }

  .Logo2{
       width: 35%;
       margin-left: -2%;
       margin-top: 5%;
  }

  .Logo3{
    width: 50%;
    margin-left: -1%;
    margin-top: 2%;
    padding: 10%;
}


  .Text2{
    margin-right: 10%;
    margin-top: -15%;
    margin-left: 50%;
  }

  .Text3{
    margin-right: 10%;
    margin-top: -25%;
    margin-left: 50%;
    margin-bottom: 10%;
  }


.Row{
    height: 50%;
}

.Column{
    width: 50%;

}

.Logos{
    width: 20%;
    margin-left: 15%;
}

h1{
    margin-top:10%;
    padding-bottom: -2%;
    font-size: 350%;
}


footer{
    /* font-family: Lemon_Tuesday; */
    float: left;
    margin-bottom: 1%;
}

h3{
    font-size: 300%;
}

.LoginIcon{
    margin-top: -15%;
    margin-left: 90%;
}

.fa-user{
    margin-top: -35%;
}

.Slides1{
    grid-column-start: 1;
    width: 75%;
    margin-top: -10%;
    margin-left: 70%;
}

.Slides2{
    grid-column-start: 2;
    margin-top: 1%;
    width:115%;
    margin-bottom: -20%;
    margin-left: 200%;
    /* margin-top: -100%; */
}

/* h2{
    font-family: Lemon_Tuesday;
    font-size: 400%;
    text-align: center;
    color: white;
    letter-spacing: 300%;
} */

.MainHeadings{
    font-family: Lemon_Tuesday;
    font-size: 300%;
    text-align: center;
    color: black;
    letter-spacing: 300%;
    margin-bottom: 2%;
}

.Logos{
    margin-top: -5%;
}

.Heading1{
    margin-left: -50%;
    column-gap: 10%;
    grid-column-start: 1;
    margin-left: 10%;
}

.Heading2{
    /* 
    margin-top: -49%; */
    grid-column-start: 2;
    margin-top: -55%;
    margin-left: 40%;
}

.SlideshowContainer{
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    margin-top: 5%;
}

.Sponsored{
    text-align: left;
    color: rgba(40,40,40,1);
    font-size:150%;
    margin-bottom: -2%;
    margin-left: 5%;
}

/* .p-appDescription{
    font-size: 200%;
} */


/*
.concept2{
    margin-left: 10%;
}
*/

@media (max-width: 1300px){
    #check:checked ~ .slideshow-container .mySlides1 .next .prev{
        display: hidden;
        left: -1200%;
    }

        html{
        background-color: rgba(88,111,145,1);
    }

    .slides-1{
        grid-column-start: 1;
        width: 75%;
    }
    
    .slides-2{
        grid-column-start: 2;
        width: 100%;
        margin-left: 100%;
        /* margin-top: -100%; */
    }

    .heading-1{
        /* margin-left: -50%; */
        column-gap: 10%;
        grid-column-start: 1;
    }
    
    .heading-2{
        grid-column-start: 2;
    }

    .prev{
        grid-column-start: 1;
    }   
    
    .next{
        grid-column-start: 2;
    }
    
}