@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

  /* .container{ 
    background-image: linear-gradient(rgba(236,236,219,1), rgba(255,255,255,0.9));
  } */

  nav{
      margin-top: 5%;
  }

  p{
      font-size: 125%;
      margin-left: 5%;
      margin-right: 5%;
  }

.row{
    height: 50%;
    margin-bottom: 10%;
}

.column{
    width: 50%;
    margin-left: 2%;
}

.logos{
    width: 20%;
    margin-left: 15%;
}

h1{
    margin-top: 0%;
    padding-bottom: -2%;
    font-size: 350%;
}


footer{
    /* font-family: Lemon_Tuesday; */
    float: left;
    margin-bottom: 1%;
}

h3{
    font-size: 300%;
}

.login-icon{
    margin-top: -15%;
    margin-left: 90%;
}

.fa-user{
    margin-top: -35%;
}

.slides-1{
    grid-column-start: 1;
    width: 75%;
}

.slides-2{
    grid-column-start: 2;
    margin-top: 5%;
    width: 100%;
    margin-left: 100%;
    /* margin-top: -100%; */
}

/* h2{
    font-family: Lemon_Tuesday;
    font-size: 400%;
    text-align: center;
    color: white;
    letter-spacing: 300%;
} */

.main-headings{
    font-family: Lemon_Tuesday;
    font-size: 300%;
    text-align: center;
    color: black;
    letter-spacing: 300%;
}

.Logos{
    margin-top: -5%;
}

.heading-1{
    margin-left: -50%;
    column-gap: 10%;
    grid-column-start: 1;
}

.heading-2{
    /* margin-left: 50%;
    margin-top: -49%; */
    grid-column-start: 2;
    margin-top: -37%;
    margin-left: 40%;
}

.slideshow-container{
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
}

.sponsored{
    text-align: left;
    color: rgba(40,40,40,1);
    /* margin-left: 5%; */
    font-size:150%;
    margin-bottom: -2%;

}

/* .p-appDescription{
    font-size: 200%;
} */

nav{
    font-size: 200%;
}

/*
.concept2{
    margin-left: 10%;
}
*/

@media (max-width: 1300px){
    #check:checked ~ .slideshow-container .mySlides1 .next .prev{
        display: hidden;
        left: -1200%;
    }

    
    nav ul{
        margin-top: 30%;
    }

    html{
        background-color: rgba(88,111,145,1);
    }

    .slides-1{
        grid-column-start: 1;
        width: 75%;
    }
    
    .slides-2{
        grid-column-start: 2;
        width: 100%;
        /* margin-top: 5%; */
        /* margin-left: 100%; */
        /* margin-top: -100%; */
    }

    .heading-1{
        /* margin-left: -50%; */
        column-gap: 10%;
        grid-column-start: 1;
    }
    
    .heading-2{
        /* margin-left: 50%;
        margin-top: -49%; */
        grid-column-start: 2;
        /* margin-top: -37%;
        margin-left: 40%; */
    }

    .prev{
        grid-column-start: 1;
    }   
    
    .next{
        grid-column-start: 2;
    }
    
}