@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }
  
  .ExampleImg{
    width: 80%;
    margin-left: 10%;
}


.list li{
    padding-bottom: 2%;
    text-align: center;
    padding-right: 20%;

}

.list{
    font-size: 125%;
}

h2{
    font-family: Lemon_Tuesday;
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}