@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

  .heading{
    font-family: Lemon_Tuesday;
    font-size: 150%;
    text-align: center;
    color: black;
    letter-spacing: 2%;
    text-transform: uppercase;
    margin-bottom: 5%;
}

body {
    background-image: linear-gradient(rgba(88,111,145,0.9), rgba(90,146,107,0.9));
    /* font-size: 200%; */
}

.references{
    margin-bottom: 5%;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 200%;
}

p{
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 100%;
}

.ComputerPixelArt{
    width: 10%;
    margin-top: -30%;
    margin-left: 10%
}

.row{
    height: 10%;
}

.column{
    height: 33%;
}

.h1{
    font-size: 50%;
    margin-top: 0%;
}

@media (max-width: 516){
}

@media (max-width: 1024){

}

  @media (max-width: 2048){

  }