@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

p{
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 100%;
}


.fa-user{
    font-size: 140%;    
}

.LoginIcon{
    margin-top: 3%; 
margin-left: 150%;
}

.Img{
    border-radius: 10%;
    border: 10%;
    border-width: 20%;
    border-color: black;
}

.Text1{
    width: 70%;
    margin-left: -190%;
    margin-top: -80%;
}

.HideText{
    display: none;
}

.Img1:hover{
    opacity: 25%;
    /*show text on hover*/  
  }

.Img1{
    width: 50%;
    margin-left: -70%;
    margin-top: 30%;
    border: 5% black;
    padding: 0%;
}

.Img2{
    width: 100%;
    margin-left: -70%;
    height: 50%;
    /* margin-top: -610%;
    margin-bottom: -17%;  */
}


.Img3{
    margin-left: -70%;
    /* margin-top: -175%; */
}


h1{
    font-size: 50%;
    margin-top: 0%;
}

.Subtitle1{
    margin-left: -160%;
    padding-bottom: -100%;
}

.Subtitle2{
    margin-top: 10%;
    margin-left: -65%;
}

.Subtitle3{
    margin-left: 50%;
}

footer{
    margin-top: 5%;
    margin-left: -150%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

cite{
    margin-left: -15%;
    margin-top: -5%;
    /* padding-right: 100%; */
}

body{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 60%;
    text-transform: uppercase;
    letter-spacing: 2%;
    margin-bottom: -5%;
}

@media (max-width: 516px){
}

@media (max-width: 1024px){

}

  @media (max-width: 2048px){

  }