@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

p{
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 100%;
}

h3{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 5%;
    font-family: Lemon_Tuesday;
}

h4{
    text-decoration: none;
    font-weight: 600;
    margin-left: 5%;
}

.Text1{
    width: 70%;
    margin-left: -190%;
    margin-top: -80%;
}

.HideText{
    display: none;
}

.Img:hover{
    opacity: 25%;
    /*show text on hover*/  
  }

.Img1{
    max-height: 95%;
    max-width: 50%;
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-bottom: 30%;
}

.Img2{
    max-height: 100%;
    max-width: 80%;
    height: auto;
    width: auto;
    margin-bottom: 22%;
 
}


.Img3{
    max-height: 95%;
    max-width: 90%;
    height: auto;
    width: auto;
    margin-bottom: 50%;
}

.Img4{
    max-height: 95%;
    max-width: 90%;
    height: auto;
    width: auto;
    margin-bottom: 42%;
}

.Img5{
    max-height: 95%;
    max-width: 90%;
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-bottom: 38%;
}


.Img6{
    max-height: 95%;
    max-width: 90%;
    height: auto;
    width: auto;   
    margin-left: 5%;
}


.Img{
    border-radius: 10%;
    border: 10%;
    border-width: 20%;
    border-color: black;
    width: 100%;
    margin-top: 2%;
}

.BlogPostHeading{
    margin-left: 150%;
    font-size: 125%;
}

footer{
    margin-left: -70%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

cite{
    margin-left: -15%;
    padding-right: 100%;
}

/* body{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 60%;
    letter-spacing: 2%;
    margin-bottom: -5%;
} */

footer{
    width: 200%;
    margin-left: -170%;
    margin-top: 10%;
}

.grid{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: repeat(2, 1.5fr);
}

.BlogPostsSection{
    margin-top: 10%;
}

.BlogPostsSection a:nth-child(1)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
-webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
box-shadow: 0 0 10px rgba(230,212,168,1);
}

.BlogPostsSection a:nth-child(2)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.BlogPostsSection a:nth-child(3)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.BlogPostsSection a:nth-child(4)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.BlogPostsSection a:nth-child(5)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.BlogPostsSection a:nth-child(6)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.BlogPostsSection a:nth-child(1):hover
{
    background-color: rgba(230,230,230,1);
}

.BlogPostsSection a:nth-child(2):hover
{
    background-color: rgba(81,213,165,1);
}

.BlogPostsSection a:nth-child(3):hover
{
    background-color: rgba(230,230,230,1);
}

.BlogPostsSection a:nth-child(4):hover
{
    background-color: rgba(255,120,41,1);
}

.BlogPostsSection a:nth-child(5):hover
{
    background-color: rgba(230,230,230,1);
}

.BlogPostsSection a:nth-child(6):hover
{
    background-color: rgba(41,170,255,1);
}


.text{
    text-align: center;
    margin-left: 35%;
}

.Text1{
    margin-top: 25%;
}


.FlipCard {
    background-color: transparent;
    /* width: 300px;
    height: 200px; */
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .FlipCardInner {
    /* position: relative; */
    /* width: 100%;
    height: 100%; */
    background-color: black;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .FlipCard:hover .FlipCardInner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
.FlipCardBack .FlipCardFront{
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .FlipCardFront {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .FlipCardBack {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  @media (max-width: 2048px){

  }

@media (max-width: 1024px){
    .BlogPostHeading{
        margin-left: 150%;
    }

    .Img{
        width: 110%;
    }

    .grid{
        margin-top: 15%;
        gap: 2rem;
    }
    
}

@media (max-width: 512px){
  .BlogPostHeading{
      margin-left: 125%;
  }

  .Img{
      width: 120%;
  }

  .grid{
      display: block;
      gap: 5rem;
      /* grid-template-columns: repeat(3, 1fr); */
      margin-left: 5%;
      margin-right: 5%;
      /* grid-template-rows: repeat(6, 1.5fr); */
  }
  
    .BlogPostsSection div:nth-child(5)
    {
        margin-bottom: 5%;
    }
}
