* {box-sizing:border-box}


/* Slideshow container */
.SlideshowContainer {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.Slides1 {
  display: none;
  margin-top: 5%;
  /* width: 5%; */
  /* height: 50%; */
  /* text-align: center; */
  margin-left: 10%;
}

.Slides2 {
  display: none;
  /* width: 10%;
  text-align: center; */
  margin-left: 10%;
  padding-bottom: 20%;
}

/* Next & previous buttons */
.Prev, .Next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 150%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
  margin-left: 5%;
}

.Prev{
  left: -2%;
}
/* Position the "next button" to the right */
.Next {
  right: 55%; 
  /* was 57.75% */
  border-radius: 3px 0 0 3px;
  margin-right: 9%;
}

/* On hover, add a black background color with a little bit see-through */
.Prev:hover, .Next:hover {
  background-color: rgba(0,0,0,0.8);
}

.Prev2, .Next2 {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 150%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
  margin-left: 10%;
}

.Prev2{
  left: -2%;
}
/* Position the "next button" to the right */
.Next2 {
  right: 55%; 
  /* was 57.75% */
  border-radius: 3px 0 0 3px;
  margin-right: 2%;
}

/* On hover, add a black background color with a little bit see-through */
.Prev2:hover, .Next2:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  /* margin-top: -0%; */
  margin-left:85%;
  /* background-color: rgba(88,111,145,1); */
  font-size: 200%;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  float: right;
}

.text1 {
  margin-top: -100%;
  margin-left: 50%;
  /* background-color: rgba(88,111,145,1); */
  font-size: 200%;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  float: right;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

.active, .dot2:hover {
  background-color: black;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h2{
  font-size: 150%;
  text-transform: uppercase;
  
}

@media (max-width: 512px){
  #check:checked ~ .slideshow-container .mySlides1 .next .prev html{
      display: hidden;
      left: -1200%;
  }

  /* .SlideshowContainer{} */
  .MySlides{
    width: 50%;
  }
  
  nav ul{
      margin-top: 30%;
  }

  html{
      background-color: rgba(88,111,145,1);
  }

  p{
    margin-right: -50%;
  }
}