h1{
    margin-top: 10%;
    font-size: 250%;
}

body{
    margin-right: 5%;
    margin-left: 5%;
}

.Bars{
    margin-top:5%;
}

label{
    margin-top: -5%;
}


.DoveArt{
    width: 25%;
    float: right;
}

cite{
    font-size: 100%;
}


  @media (max-width: 1024px)
  {
    .DoveArt{
        width: 5%;
    }

    .Submit{
        font-size: 75%;

    }

    h1{
        margin-left: -5%;
        font-size: 200%;
    }
  }

  @media (max-width: 512px){
      cite{
          font-size: 15%;
      }

      body{
          font-size: 75%;
      }

      .TextBox{
          height: 1%;
          font-size: 75%;
      }

      h1{
          margin-top: 25%;
          font-size: 125%;
      }

      .FormIcons{
          font-size: 75%;
      }

      label{
          font-size: 75%;
      }

      .Submit{
          padding-right: 10%;
          margin-top: 3%;
        font-size: 75%;
      }

      .DoveArt{
        width: 50%;
    }

    .Container{
        margin-left: 10%;
    }


  }