html{
    background-image: linear-gradient(rgba(236,236,219,1), rgba(255,255,255,1));
}

h1{
    margin-top: 15%;
    font-size: 300%;
}

.grid{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
    margin-right: 5%;
}

.h-entry
{
    grid-column: 1;
    /* margin-right: 50%; */
}


.h-item
{
    grid-column: 2;
    width: 100%
}

@media (max-width: 512px){

    .CriticalReflectionSection{
        display: block;
    }
/* 
    body{
        font-size: 10%;
    } */

    .h-item
    {
        grid-column: 2;
        width: 75%
    }

    img{
        display: none;
    }

    h1{
        margin-top: 20%;
    }

    .grid{
        display: block;
    }

    h-item{
        display: none;
    }
}

@media (max-width: 1024px){
    /* body{
        font-size: 50%;
    } */

    .h-item
{
    grid-column: 2;
    width: 75%
}
}

@media (max-width: 2048px){
        /* body{
            font-size: 90%;
        } */

        .h-entry{
            grid-column: 1; 
        }

        .h-item
    {
        grid-column: 2;
        width: 70%
        
    }

}