html{
    background-image: linear-gradient(rgba(236,236,219,1), rgba(255,255,255,1));
}
h1{
    margin-top: 0%;
}

.ComputerPixelArt{
    margin-top: 7%;
    width: 10%;
}

body{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-size: 100%;
}

.Heading{
    font-family: Lemon_Tuesday;
    font-size: 125%;
    text-align: center;
    color: black;
    letter-spacing: 2%;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: -7%;
}

.References{
    text-align: center;
}

p{
    font-size: 125%;
    text-align: justify;
}


.PLeft{
    margin-right: 55%;
    margin-left: 5%;
}

.PRightTop{
    margin-top: -83%;
}

.PRight{
    margin-left: 55%;
    margin-right: 5%;
}

.PRightBottom{
    margin-bottom: 30%;
}

cite{
    margin-bottom: 1%;
}
