@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

p{
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 100%;
}

h3{
    text-decoration: none;
    margin-left: 5%;
    font-family: Lemon_Tuesday;
    text-transform: uppercase;
}

h4{
    text-decoration: none;
    font-weight: none;
    margin-left: 5%;
}

.Text1{
    width: 70%;
    margin-left: -190%;
    margin-top: -80%;
}

.HideText{
    display: none;
}

.Img:hover{
    opacity: 25%;
    /*show text on hover*/  
  }

.Img1{
    max-height: 95%;
    max-width: 70%;
    height: auto;
    width: auto;
    margin-left: 10%;
}

.Img2{
    max-height: 100%;
    max-width: 80%;
    height: auto;
    width: auto;
    margin-left: 10%;
    margin-bottom: 55%;
}


.Img3{
    max-height: 95%;
    max-width: 90%;
    height: auto;
    width: auto;
}


.Img{
    border-radius: 10%;
    border: 10%;
    border-width: 20%;
    border-color: black;
    width: 100%;
    margin-top: 2%;
}

.BlogPostHeading{
    margin-left: 150%;
    font-size: 125%;
}

footer{
    margin-left: -70%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

cite{
    margin-left: -15%;
    padding-right: 100%;
}

/* body{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 60%;
    letter-spacing: 2%;
    margin-bottom: -5%;
} */

footer{
    width: 200%;
    margin-left: -170%;
    margin-top: 10%;
}

.Grid{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: repeat(2, 1.5fr);
}

.DevSection{
    margin-top: 10%;

}

.DevSection a:nth-child(1)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
-webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
box-shadow: 0 0 10px rgba(230,212,168,1);
}

.DevSection a:nth-child(2)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.DevSection a:nth-child(3)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.DevSection a:nth-child(1):hover
{
    background-color: rgba(233,245,250,0.8);
}

.DevSection a:nth-child(2):hover
{
    background-color: rgba(54,112,4,0.2);
}

.DevSection a:nth-child(3):hover
{
    background-color: rgba(255,230,255,0.8);
}

  @media (max-width: 2048px){

  }

@media (max-width: 1024px){
    .BlogPostHeading{
        margin-left: 150%;
    }

    .Img{
        width: 110%;
    }

    .Grid{
        margin-top: 15%;
        gap: 2rem;
    }
    
}

@media (max-width: 512px){
  .BlogPostHeading{
      margin-left: 125%;
  }

  .Img{
      width: 120%;
  }

  .Grid{
      display: block;
      gap: 5rem;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 5%;
      margin-right: 5%;
      grid-template-rows: repeat(3, 1.5fr);
  }

  .Img2{
    margin-bottom: 2%;
  }

  /* .DevSection a:nth-child(2)
  {
      margin-bottom: -200%;
  } */

  .DevSection a:nth-child(2)
  {
      margin-top: -200%;
  }

  .DevSection a{
    background:transparent;
  }
  
}
