html{
    background-image: url(../Images/WebsiteBackground.png);
    /* height: 100vh; */
    /* width: 200vh; */
  background-size: cover;
  cursor: auto;
}

h1{
    margin-top: 20%;
}

body{
    font-family: Calibri;
    cursor: auto;
}


cite{
    background-color: rgba(236,236,219,1);
    color: black;
}

a{
    font-family: Calibri;
    margin-top: 10%;
    margin-right: 1%;
    margin-left: 5%;
    color: black;
    text-align: center;
}

i{
    margin-top: 5%;
    font-size: 200%;
    color: black;
}

i:hover{
    color: purple;
    cursor: pointer;
}

a:hover{
    color: purple;
    cursor: pointer;
}

.loginIcon{
    margin-top: -20%;
    margin-left: 90%;
}


@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

nav{
    text-align: left;
    font-size:150%;
    font-weight: bold;
    margin-top:-2%;
    /* display: inline-block; */
    height: 10%;
   color: black;
}

ul{
    /* display: inline-block; */
    /* margin-right: 10%; */
    overflow: hidden;
    margin-top: 5%;
    font-size: 50%;
    margin-right: 5%;
}

li{
    word-break: break-all;
    display: inline-block;
    padding-right: 2%;
    padding-left: 1%;
}

.loginIcon{ 
    /* not rendering */
    font-size: 100%;
    float: right;
    margin-top: -5%;
    margin-right: 0%;
    color: rgba(76, 25, 126, 255);
}


.loginText{
    float: left;
    margin-right: 10%;
    font-size: 100%;
}

h1{
    font-family: Lemon_Tuesday;
    font-size: 500%;
    text-align: center;
    font-weight: bold;
    /* margin-left: 50%;
    margin-right: -10%; */
    justify-content: center;
    /* margin-top: 30%; */
 
}

.form-hidden{
    display: hidden;
}

#helloUser{
    margin-top: 35%;
    font-family: Lemon_Tuesday;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    /* margin-left: 50%;
    margin-right: -10%; */
    justify-content: center;
}

.bars{
    font-size: 100%;    
    float: left;
    margin-left: 2%;
    /* display: none; */
}

#check{
    display:none;
}

 @media (max-width: 500px){

    .bars{
        display: block;
    }

    nav ul{
        display: inline-block;
        position: fixed; 
        width: 80%;
        margin-top: 0%;
        font-size: 100%;
        background-color: rgba(88,111,145,1);
        height: 100vh;
        text-align: center;
        left: -120%;
        transition: all 0.5s;
        margin-bottom: 5%;
    }

    .submit{
        left: -120%;
    }

    nav ul li a{ 
        font-size: 200%;
        display: block;
        padding: 5% 0%;
        text-transform: uppercase;
    }

    .loginIcon{
        font-size:250%;
    }

    #check:checked ~ ul{
        left: 0%;
    }
} 


