html{
    background-image: url(../Images/WebsiteBackground.png);
    /* height: 100vh; */
    /* width: 200vh; */
  background-size: cover;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

nav{
    text-align: left;
    font-size:200%;
    font-weight: bold;
    margin-top: 0%;
    display: inline-block;
    height: 10%;
}

ul{
    display: inline-block;
    /* margin-right: 10%; */
}

.loginIcon{ 
    /* not rendering */
    font-size: 250%;
    float: right;
    margin-top: -3%;
    margin-right: 5%;
    color: rgba(76, 25, 126, 255);
}


.loginText{
    float: left;
    margin-right: 10%;
    font-size: 100%;
}

h1{
    font-family: Lemon_Tuesday;
    font-size: 500%;
    text-align: center;
    font-weight: bold;
    /* margin-left: 50%;
    margin-right: -10%; */
    justify-content: center;
    /* margin-top: 30%; */
 
}

.form-hidden{
    display: hidden;
}

#helloUser{
    margin-top: 10%;
    font-family: Lemon_Tuesday;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    /* margin-left: 50%;
    margin-right: -10%; */
    justify-content: center;
}

.bars{
    margin-top: -7%;
    font-size: 200%;    
    float: left;
    margin-left: 5%;
    display: none;
}

#check{
    display:none;
}

/* @media (max-width: 500){

    .bars{
        display: block;
    }

    nav ul{
        display: inline-block;
        position: fixed; 
        width: 80%;
        margin-top: 0%;
        font-size: 100%;
        background-color: rgba(88,111,145,1);
        height: 100vh;
        text-align: center;
        left: -120%;
        transition: all 0.5s;
        margin-bottom: 5%;
    }

    .submit{
        left: -120%;
    }

    nav ul a{ 
        font-size: 200%;
        display: inline-block;
        padding: 5% 0%;
        text-transform: uppercase;
    }

    .loginIcon{
        font-size:250%;
    }

    #check:checked ~ ul{
        left: 0%;
    }
} */


