   html{
      font-family: Calibri, 'Trebuchet MS', sans-serif;
      
  } 

#helloUser{ 
  font-family: Lemon_Tuesday;
  font-size: 250%;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 10%;
}


#sentence{
  font-family: Lemon_Tuesday;
  font-size: 300%;
  text-align: center;
  font-weight: bold;
  /* margin-left: 50%;
  margin-right: -10%; */
  justify-content: center;
  margin-top: 5%;
  /* padding-top: -15%; */
  margin-bottom: 0%;
}

  .HomeImage{
      margin-top: -10%;
      width: 40%;
      bottom: 0%;
  }

.fa-user{
  margin-top: 5%;
  font-size: 75%;
}


  .TypingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputCursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

  @keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

  @media (max-width: 1024px){
    .fa-user{
      margin-left: 100%;
      font-size: 100%;
    }

    .i{
      font-size: 100%;
    }
  }


/* is working! */
    @media (max-width: 2048px){ 
      .fa-user{
        margin-right: 5%;
        font-size: 150%;
        width: 80%;
      }
    }

  