@font-face {
  font-family: Lemon_Tuesday;
  src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
}


/* html{
  background-image: linear-gradient(rgba(236,236,219,1), rgba(255,255,255,0.9));
}  */

body {
  text-align: justify;
  /* font-size: 150%; */
  padding: 5%;
}

.p-gameDescription{
 float: right;
}

p{
  font-size: 125%;
  margin-left: 5%;
  margin-right: 5%;
}


h1{
  text-align: center;
  margin-top: 2%;
}

.Text{
  /* font-family: Lemon_Tuesday; */
  text-transform: uppercase;
  margin-left: -50%;
}

.Heading1{
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 2%;
}

.Heading2{
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2%;
}

.PixelArt1{
  float: left;
}

.PixelArt2{
  float: right;
}

.Heading{
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 200%;
  font-family: Lemon_Tuesday;
  text-transform: uppercase;
}

.ReflectionText{
  font-size: 200%;
}


.GameLink{
  font-size: 150%;
}


@media (max-width: 512px){
  .ExampleImg{
    width: 200%;
  }
}