html{
    /* background-image: url(../Images/Background/ProfilePageBackground.jpg); */
    /* opacity: 0.1; */
    /* height: 100vh; */
    /* width: 200vh; */
  background-size: cover;
  background-color: rgba(236,236,219,0.5);
  background-image: none;
  cursor: auto;
  font-family: Tahoma;
  /* font-family: Calibri, 'Trebuchet MS', sans-serif; */
}

/* body{
    margin-top: 10%;
} */

cite{
    background-color: none;
}

h1{
    margin-top: -5%;
}

footer a{
    padding: 0%;
    margin: 0%;
    font-family: Tahoma;
    color: navy;
}

nav{
    background-color: white;
}

h2{
    padding-top: 5%;
    font-size: 250%;
    text-align: center;
}


nav{
    font-family: Tahoma;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    z-index: 10000;
    background-color: white;
    padding-bottom: 0.5%;
    opacity: 75%;
    /* padding-bottom: 10%; */

    text-align: left;
    font-size:100%;
    font-weight: bold;
    margin-top:-2%;
   color: black;
   /* text-transform: uppercase; */
}