@font-face {
    font-family: Lemon_Tuesday;
    src: url("../Fonts/lemon_tuesday/Lemon Tuesday.otf");
  }

.hide{
    display: none;
}

.Img2{
    max-height: 10%;
    max-width: 80%;
    height: auto;
    width: auto;
}

.Img{
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
    margin-top: 2%;
    border-radius: 10%;
}

.Img3{ 
    max-height: 90%;
    max-width: 90%;
    height: auto;
    width: auto;
    margin-left: 5%;
}

.Img1{
    max-height: 500%;
    max-width: 500%;
    height: auto;
    width: auto;
    margin-left: 20%;
}

.ReflectionsSection{
    margin-left: 150%;
    font-size: 125%;
}

.grid{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, 2fr);
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: repeat(2, 0.2fr);
}

.ReflectionsSection{
    margin-top: 10%;
}

.ReflectionsSection a:nth-child(1)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
-webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
box-shadow: 0 0 10px rgba(230,212,168,1);
}

.ReflectionsSection a:nth-child(2)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.ReflectionsSection a:nth-child(3)
{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5%;

    -moz-box-shadow: 0 0 10px rgba(230,212,168,1);
    -webkit-box-shadow: 0 0 10px rgba(230,212,168,1);
    box-shadow: 0 0 10px rgba(230,212,168,1);
}

.text{
    font-family: Lemon_Tuesday;
    text-align: center;
    margin-left: 0%;
}

@media (max-width: 2048px){

}

@media (max-width: 1024px){
    .BlogPostHeading{
        margin-top: 5%;
        margin-left: 150%;
    }

    .Img{
        width: 110%;
    }

    .Img1{
        max-height: 90%;
        max-width: 90%;
        /* height: auto;
        width: auto; */
    }

   footer{
    margin-top: 5%;
   }
}


@media (max-width: 512px){
    .BlogPostHeading{
        margin-left: 125%;
    }

    .Img{
        max-height: 20%;
        max-width: 20%;
        height: auto;
        width: auto;
        /* margin-bottom: 5%; */
    }

    .grid{
        display: block;
        gap: 5rem;
        grid-template-columns: repeat(1, 3fr);
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        grid-template-rows: repeat(3, 0.25fr);
    }

    .ReflectionsSection div
{
margin-bottom: 5%;
padding-right: -500%;
}

}

