.navMenu{
    font-size: 300%;
    margin-top: 0%;
    margin: 5%;
}

p{
    font-size: 150%;
}

i{
    margin-top: 2%;
}

li{
    margin-bottom: 10%;
    margin-top: 10%;
}

.ReflectionPixelArt{
    height: 5%;
    margin-top: 5%;
}

/* body{
    font-size: 75%;
} */

@media (max-width: 516){
    .ReflectionPixelArt{
        width: 60%;
    }
}

@media (max-width: 1024){
    .ReflectionPixelArt{
        width: 80%;
    }
}

  @media (max-width: 2048){

  }