.Error1{
    border-color: red;
    color:red;
}

.Success1{
    border-color: green;
    color:green;
}

#FormField1{
border-color: darkgrey;
}

.NonSelectIcons{
    color: black;
}

.NonSelectIcons:hover{
    color: black;
}

.Container{
    padding-bottom: 3%;
    padding-top: 2%;
    margin-bottom: 1%;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}

.Submit{
    height:5%;
    font-size: 90%;
    margin-top: 0%;
    margin-bottom: -2%;
    width: 15%;
    margin-left: 40%;
    padding-bottom: 2%;
    color: black;
}

.LoginIcon{
    margin-top: -5%;
}

h1{
    font-size: 250%;
    margin-top: 8%;
}

.fa-lock-open{
    font-size: 100%;
}

.fa-user{
    font-size: 100%;
}

.UsernameLabel{
    margin-top: -2%;
    margin-bottom: -5%;
}

@media (max-width: 1024px){

    .Container    {
        margin-top: 2%;
        /* padding-bottom: 5%; */
    }

    h1{
        margin-top: 10%;
    }

    .LoginIcon{
        margin-top: -11%;
    }
}

@media (max-width: 1048px){

    
    .Container    {
        /* padding-bottom: 10%; */
    }

    .LoginIcon{
        margin-top: -15%;
        font-size: 125%;
    }

    nav{
        margin-top: 5%;
    }
}